<div class="container">
    <form name="ctrl.customerform" class="form-horizontal form-editCustomer">
        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">First Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name.." 
                ng-model="ctrl.customer.first_name" required>
                <div class="validation" 
                data-ng-show="ctrl.customerform.firstName.$touched || ctrl.customerform.$submitted">
                    <div data-ng-show="ctrl.customerform.firstName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> First Name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Last Name </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name.." 
                ng-model="ctrl.customer.last_name" required>
                <div class="validation" 
                data-ng-show="ctrl.customerform.lastName.$touched || ctrl.customerform.$submitted">
                    <div data-ng-show="ctrl.customerform.lastName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Last Name is required
                    </div>
                </div>
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="gender">Gender</label>
            <div class="col-sm-6">
                    <br/>
                    <input id="gender" name="gender" type="radio" value="M" 
                    ng-model="ctrl.customer.gender" ng-checked="true"/>Male
                    <br/>
                    <input id="gender" name="gender" type="radio" value="F" 
                    ng-model="ctrl.customer.gender" />Female
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="birthDate">Birth Date </label>
            <div class="col-sm-6">
                    <p class="input-group">
                    <input id="birthDate" name="birthDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" 
                    ng-model="ctrl.customer.birth_date" ng-pattern="ctrl.datePattern"" ng-required="true"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                    
                    <div class="validation" 
                    data-ng-show="ctrl.customerform.birthDate.$touched || ctrl.customerform.$submitted">
                        <div data-ng-show="ctrl.customerform.birthDate.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Birth Date is required
                        </div>
                        <div data-ng-show="ctrl.customerform.birthDate.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Birth Date is invalid
                            </div>
                    </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="joinDate">Join Date</label>
            <div class="col-sm-6">
                    <p class="input-group">
                        <input id="joinDate" name="joinDate" type="text" class="form-control" is-open="popup2.opened" datepicker-options="dateOptions" uib-datepicker-popup="{{format}}" 
                        ng-model="ctrl.customer.join_date" ng-pattern="ctrl.datePattern" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <div class="validation" 
                    data-ng-show="ctrl.customerform.joinDate.$touched || ctrl.customerform.$submitted">
                        <div data-ng-show="ctrl.customerform.joinDate.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Join Date is required
                        </div>
                        <div data-ng-show="ctrl.customerform.joinDate.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Join Date is invalid
                        </div>
                    </div>
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="photourl">Photo URL</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="photourl" name="photourl" placeholder="Photo URL.." 
                ng-model="ctrl.customer.photourl">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" 
                ng-disabled="ctrl.customerform.$invalid" ng-click="ctrl.saveCustomer()">Save</button>
            </div>
        </div>
    
    </form>
</div>